body, HTML, #wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  overflow: hidden;
}

section {
  margin: 0;
}

h1, h2, p {
  margin:0;
  font-weight: normal;
}

#wapper {
  position: relative;
}

#sky {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 25%;
  background: #BCD0DD;
  z-index: 5;
  /* transform: rotateX(-45deg); */
}

#sea {
  position: relative;
  width: 100%;
  height: 100%;
  background: #768AA8;
  color: white;
  transform: rotateX(40deg);
}

#contact {
  position: absolute;
  top: 30%;
  right: 0;
  color: white;
  padding-right: 5%;
  text-align: right;
}

.wave {
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  left: 100px;
  border-top: 100px solid transparent;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom: 100px solid #607495;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
}
