#search_container {
  position: fixed;
  top: 150px;
  left: 150px;
  width: 50%;
  transition: top 1s;
  z-index: 5;
  background: white;
}

#search {
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 2px;
  transition: color 1s;
  text-transform: lowercase;
  flex-grow: 1;
}

.search_line {
  border: none;
  border-top: 2px solid lightgrey;
  width: 100%;
  margin: 5px 0 0 0;
  transition: border 1s, width 1s, margin 1s;
  -webkit-transition: border 1s, width 1s, margin 1s;
}

.search_line.active {
  border-top: 2px solid black;
}

.search_line.expanded {
  width: 200%;
  margin-left: -150px;
}

#search:focus {
  color: black;
}

#search_results {
  width: 200%;
  margin: 5px 150px 5px -150px;
  padding: 0 150px 0 150px;
  list-style: none;
  font-size: 1.5em;
  box-sizing: border-box;
}

.search_result_item {
  list-style: none;
  color: black;
  border-bottom: 1px solid lightgrey;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  cursor: pointer;
  background: white;
}

.search_result_item:hover {
  color: orange;
}

#input_wrapper {
  margin-top: 50px;
  width: 1000px;
  display: flex;
}

#input_wrapper {
  font-size: 2em;
  font-weight: 300;
}
