#signature {
  position: fixed;
  font-size: 1.1em;
  top: 15px;
  right: 150px;
  letter-spacing: 5px;
}

.hidden {
  display: none;
}

#search_container {
  position: fixed;
  top: 150px;
  left: 150px;
  width: 50%;
  transition: top 1s;
  z-index: 5;
  background: white;
}

#search {
  /* position: fixed; */
  margin-top: 50px;
  border: none;
  color: lightgrey;
  width: 100%;
  outline: none;
  font-size: 1.5em;
  letter-spacing: 2px;
  transition: color 1s;
  text-transform: lowercase;
}

.search_line {
  border: none;
  border-top: 2px solid lightgrey;
  width: 100%;
  margin: 5px 0;
  transition: border 1s, width 1s, margin 1s;
  -webkit-transition: border 1s, width 1s, margin 1s;
}

.search_line.active {
  border-top: 2px solid black;
}

.search_line.expanded {
  width: 200%;
  margin-left: -150px;
}

#search:focus {
  color: black;
}

#search_results {
  width: 200%;
  margin: 5px 150px 5px -150px;
  padding: 0 150px 0 150px;
  list-style: none;
  font-size: 1.5em;
  box-sizing: border-box;
}

.search_result_item {
  list-style: none;
  color: grey;
  border-bottom: 1px solid lightgrey;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  cursor: pointer;
}

.search_result_item:hover {
  color: black;
}

.primary_term {
}

.aliases {
  font-size: .6em;
}

.bold {
  font-weight: 600;
}

#view_port {
  position: fixed;
  top: 50px;
  right: 150px;
  left: 150px;
  bottom: 0;
  overflow: scroll;
}

#projects_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

#projects_wrapper h2 {
  width: 100%;
}

.project_tile {
  border-top: 1px solid grey;
  width: 40%;
  display: flex;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  margin: 20px;
}

a {
  color: lightgrey;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  color: black;
}
