#signature {
  position: fixed;
  font-size: 1.1em;
  top: 15px;
  right: 150px;
  letter-spacing: 5px;
}

.hidden {
  display: none;
}


.primary_term {
}

.aliases {
  font-size: .6em;
}

.bold, .faux {
  font-weight: 600;
}

.wrapper h2 {
  width: 100%;
}

.tile {
  border-top: 1px solid grey;
  width: 100%;
  max-width: 600px;
  display: flex;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tile:first-child {
  border: none;
}

ul {
  list-style: none;
}

li {
  margin: 20px;
}

a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

a img {
  margin-right: 10px;
  height: 35px;
  opacity: 0.4;
}

a:hover, .faux:hover {
  color: darkorange;
  cursor: pointer;
}

a:hover img {
  opacity: 1;
}

.experience {
  flex-direction: column;
  align-items: center;
}

.skill {
  font-size: 0.8em;
  text-align: center;
  border: none;
  width: 25%;
}

.skill i {
  font-size: 3em;
}
